*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%) ;
}
.wrapper{
    max-width: 1130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.wrapper .cart-nav{
    position: absolute;
    top: 15%;
    right: 0;
    display: flex;
    justify-content: space-evenly ;
    width: 180px;
    background: #fff;
    padding: 13px 15px;
    border-radius: 7px;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.15);
    cursor: pointer;
}
.cart-nav .icon{
    color:#c850c0
}

.cart-nav .icon i{
    font-size: 20px;
}
.cart-nav .item-count{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #c850c0;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 24px;
}

.cart-nav .icon span{
    font-weight: 500;
}

.wrapper .card {
    position: relative;
    width: calc(33% - 13xp);
    height: 440px;
    border-radius: 23px;
    background-color: #fff;
    overflow: hidden;
}

.wrapper .card:hover .content{
bottom: 0;
}

.wrapper .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 23px;
    transition: all 0.3s ease;
}

.wrapper .card:hover img{
transform: scale(1.1);
}

.wrapper .card .content{
    position: absolute;
    width: 100%;
    bottom: -50%;
    padding: 10px 20px 22px 20px;
    background-color: #fff;
    box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
}

.card .content .row,
.content .buttons{
    display: flex;
    justify-content: space-between;
}
.content .row .details span{
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
}
.content .row .details p{
    color: #333;
    font-size: 14px;
    font-weight: 400;
}
.content .row .price{
    color: #c850c0;
    font-size: 20px;
    font-weight: 600;
}
.content .buttons{
    margin-top: 20px;
}
.content .buttons button{
    width: 100%;
    padding: 10px 0;
    border: 2px solid #c850c0;
    border-radius: 7px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    transition: all 0.5s ease ;
}

.buttons button:first-child{
    margin-right: 10px;
    color: #c850c0;
    background: #fff;
}
.buttons button:first-child:hover{
    color: #fff;
    background: #c850c0;
}

.buttons button:last-child{
    margin-right: 10px;
    color: #fff;
    background: #c850c0;
}

.buttons button:last-child:hover{
    border-color: #fa8bff ;
    background: #fa8bff;
}


@media all and (max-width: 912px){

    body{
        display: flex;
        flex-direction: column;
        margin-top: 150px;
    }
    .cart-nav{
        display: flex;
        margin-right: 5%;
        margin-top: -15%;
        
    }
}